body {
    background-color: hsl(223, 19%, 93%);
    font-family: 'rubik';
    font-size: 16px;
}

/* .minus img{
    margin-bottom: 5px;
} */

p{
    margin: 0;
    font-weight: 400;
}

span{
    font-weight: 700;
}

.vote-bar button:hover {
   color: hsl(238, 40%, 52%);
}

button{ 
    color: hsl(238, 40%, 52%);
    font-weight: 700;
    
    p{
        color: hsl(238, 40%, 52%);
        font-weight: 700;
    }
}

.reply-button{
    color:white;
}

.reply-button:hover{
    background-color: hsl(239, 57%, 85%);
    color: white;
}


.delete-comment {
    color: hsl(358, 79%, 66%);
}

.delete-comment:hover{
    color:hsl(357, 100%, 86%)
}

button:hover {
    color: hsl(239, 57%, 85%);
    font-weight: 700;
    img{opacity: 0.5;}
    p{
        color:hsl(239, 57%, 85%)
    }
}

.comment-box, .replying-box-outer, .comment-box-self {
    background-color: white;
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 10px;
    box-sizing: border-box;

  
}

.comment-box > div ,.comment-box-self > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

.comment-box > div.vote-bar, .comment-box-self > div.vote-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(223, 19%, 93%);
    border-radius: 5px 5px 5px 5px;
    width: 28px;
    flex: 0 0 28px;
    color: hsl(239, 57%, 85%);
    height: fit-content;
    padding: 8px;
    box-sizing: border-box;

    button{
        padding: 0;
    }
   gap: 0;
}

title {
   display: inline;
   font-weight: 700;
}

.icon {
  display: inline;
  width: 17px;
}

.vote-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(223, 19%, 93%);
    border-radius: 5px 5px 5px 5px;
    width: 28px;
    flex: 0 0 28px;
    color: hsl(239, 57%, 85%);
    height: fit-content;
    padding: 8px;
    box-sizing: border-box;

    button{
        padding: 0;
    }
}

.vote-count {
   color: hsl(238, 40%, 52%);
   font-family: 'Rubik', sans-serif;
    min-width: 3ch;
    text-align: center;
    font-variant-numeric: tabular-nums;
    margin-bottom: -2px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.image-title {
    display: flex;
    gap: 10px;
}

.icon-reply, .icon-replying {
    margin-left: auto;
    display: flex;
    gap: 10px;

    p{
        font-weight: 700;
    }

    button{
        padding: 0;
        
    }

    img{
        margin-bottom: -2px;

        width: 14px;
        height: 14px;
    }
}

.icon-replying > *,.icon-reply > * {
    margin: 0;
}

.reply-box {
    background-color: white;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    overflow: hidden;
    box-sizing: border-box;
}

.reply-button {
       border: 1px solid;
    border-radius: 4px;
    background-color: hsl(238, 40%, 52%);
    padding: 10px;
}

.comment-box > img ,.comment-box-self > img {
   width: 3%;
}

.replied-box, .replied-box-self  {
   width: 50%;
    margin: auto;
    display: flex;
}

.replied-box > div:nth-child(1), .replied-box-self > div:nth-child(1) {
    width: 1px;
    margin-left: auto;
    box-shadow: 1px 0 0 hsl(211, 10%, 45%);
}

.image-icon-wrapper {
    display: flex;
    flex-direction: row;
}

.replied-box .comment-box, .replied-box-self .comment-box {
   margin: 0;
    margin-left: auto;
    width: 93%;
    margin-bottom: 6px;
}

body .replied-box:last-of-type .comment-box, body .replied-box-self:last-of-type .comment-box{
    margin-bottom: 0 ;
}

.replied-box .comment-box > div:last-of-type, .replied-box-self .comment-box > div:last-of-type {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.replied-box .comment-box > div:last-of-type div, .replied-box-self .comment-box > div:last-of-type div, .comment-box-self  > div:last-of-type div {
    display: flex;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal-content {
    width: 300px;
    height: auto;
    background-color: white;
    margin-inline: auto;
    position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
    padding: 30px;
    text-align: left;
    align-items: baseline;
}

.modal-content  {
 h4, p {
margin: 0;   }

p{
    font-size: 15px;
}

.modal-buttons {
   width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

button {
    padding: 10px;
    border-radius: 5px;
    width: calc(50% - 5px);
    color: white;
    font-size: 10px;
}

.cancel-button {
    background-color: hsl(211, 10%, 45%);
    color: white;}

.delete-button {
    background-color: hsl(358, 79%, 66%);}

}
